:root {
  --clr-primary: rgba(0 0 0 / 1);
  --font-size-base: 1rem;
  --font-size-header-1: 2.5rem;
  --font-size-header-2: 2rem;
  --font-size-header-3: 1.5rem;
  --font-size-header-4: 1.65rem;
  --font-size-header-5: 1.04rem;
  --font-size-side-links: 1.35rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Courier New", Courier, monospace;
}
img {
  max-width: 100%;
  display: block;
}
li,
ul {
  list-style-type: none;
}

/* css */
.container {
  display: grid;
  grid-template-columns: minmax(160px, 0.5fr) 4fr;
  grid-template-rows: 5rem auto;
  grid-template-areas:
    "sidebar header"
    "sidebar main-grid"
    "sidebar main-grid";
  min-height: 100vh;
}
.header,
.sidebar {
  background-color: hsla(0, 0%, 0%, 0);
}
.sidebar {
  grid-area: sidebar;
  position: sticky;
  top: 0;
  height: 100vh;
  border-right: 1px rgba(0, 0, 0, 0.164) solid;
  display: flex;
  flex-direction: column;
}
.sidebar img[src$="svg"] {
  width: min(80%, 1.2rem);
}

.logo {
  height: 5rem;
  display: flex;
  justify-content: center;
  font-family: "Darumadrop One", serif;
  max-width: 100%;
}
.logo p {
  align-self: center;
  font-size: 2em;
  max-width: fit-content;
}
.links {
  padding: 16px 8px 16px 8px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.links a,
.logout a,
.login a {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: black;
}
.main-links {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px black solid;
}
.logout {
  margin-top: auto;
}
.logout a {
  justify-content: center;
}
.header {
  grid-area: header;
  position: sticky;
  top: 0;
  border-bottom: 1px rgba(0, 0, 0, 0.192) solid;
  background-color: white;
}
.header-content {
  display: grid;
  grid-template-columns: 3.5fr 1fr;
  align-content: center;
  justify-content: center;
  min-height: 100%;
  padding-inline: 1rem;
}
.header-left {
  display: flex;
  align-items: center;
}

.header-left img {
  max-width: 1.5rem;
  margin-right: 1rem;
  display: none;
  cursor: pointer;
}
#search {
  width: clamp(60%, 100%, 1200px);
  border-radius: 0.4rem;
  padding: 0.3rem;
}
#search:focus {
  border: 1px solid green;
}
input[type="text"] {
  border: 1px solid #adadad;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

input[type="text"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
}

.login a {
  justify-content: flex-end;
  gap: 0px;
  padding: 0px;
}
.login img {
  width: min(60%, 4rem);
}
.main-grid {
  grid-area: main-grid;
  display: grid;
  grid-template-columns: 3fr minmax(200px, 0.5fr);
  grid-template-rows: minmax(50px, 0.2fr) auto auto auto auto;
  grid-template-areas:
    "welcome welcome"
    "today status"
    "favorites favorites"
    "data data";
  gap: 1rem;
  padding-inline: 1rem;
  min-height: 100%;
  background-color: rgb(248, 248, 248);
}

.main-grid h3 {
  font-size: var(--font-size-header-3);
}
.main-grid h4 {
  font-size: var(--font-size-header-4);
}
.main-grid h5 {
  font-size: var(--font-size-header-5);
}
.welcome-create {
  grid-area: welcome;
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.welcome-create h2 {
  font-size: var(--font-size-header-1);
  font-weight: 300;
  padding-right: 1rem;
}
.action-buttons button {
  padding: 0.4rem 1.6rem;
  background-color: rgba(252, 253, 250, 0.842);
  border-radius: 0.3rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.action-buttons #create {
  border: 1px solid rgb(18, 87, 16);
  box-shadow: -0.1rem 0.2rem 0.1rem rgba(79, 179, 76, 0.151);
}
.action-buttons #share {
  border: 1px solid rgb(68, 6, 9);
  box-shadow: -0.1rem 0.2rem 0.1rem rgba(44, 3, 10, 0.151);
}
.status-column {
  grid-area: status;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.favorite-cards {
  grid-area: favorites;
}
.favorite-cards-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* autofill */
  gap: 1rem;
  padding-top: 1rem;
}
.favorite-cards-display > div,
.todays-cards-display > div {
  border: 1px black solid;
  padding: 1rem;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.856);
  box-shadow: 0rem 0.2rem 0.1rem rgba(0, 0, 0, 0.397);
}
.todays-cards {
  grid-area: today;
  padding-top: 1rem;
}
.todays-cards-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* autofill */
  gap: 1rem;
  padding-top: 1rem;
}
div.today-card {
  border-left: 3px solid rgb(56, 134, 37);
  border-radius: 0 1rem 0 1rem;
}
div.today-card-add {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 3px solid rgb(226, 212, 15);
  border-radius: 0rem 1rem 0rem 1rem;
}
.today-card-add button {
  height: fit-content;
  font-size: 2.5rem;
  border: none;
  margin: 0;
  padding: 0;
  background-color: inherit;
  cursor: pointer;
}
div.favorite-card {
  border-left: 3px solid rgb(228, 52, 8);
  border-radius: 0.4rem;
}

.data {
  grid-area: data;
  margin-bottom: 1rem;
}
.data-content {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem;
}
.data-content h3 {
  padding-top: 1rem;
}
.data-img {
  border: 1px rgb(63, 58, 58) solid;
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(70% - 2rem);
  border-radius: 0.5rem;
  box-shadow: -0.1rem 0.2rem 0.1rem rgba(0, 0, 0, 0.397);
  padding: 0 2rem;
}
.simple-bar-chart {
  --line-count: 10;
  --line-color: currentcolor;
  --line-opacity: 0.25;
  --item-gap: 2%;
  --item-default-color: #060606;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  gap: var(--item-gap);
  align-items: end;
  padding-inline: var(--item-gap);
  --padding-block: 2.5rem; /*space for labels*/
  padding-block: var(--padding-block);
  position: relative;
  isolation: isolate;
}

.simple-bar-chart::after {
  content: "";
  position: absolute;
  inset: var(--padding-block) 0;
  z-index: -1;
  --line-width: 1px;
  --line-spacing: calc(100% / var(--line-count));
  background-image: repeating-linear-gradient(
    to top,
    transparent 0 calc(var(--line-spacing) - var(--line-width)),
    var(--line-color) 0 var(--line-spacing)
  );
  box-shadow: 0 var(--line-width) 0 var(--line-color);
  opacity: var(--line-opacity);
}
.simple-bar-chart > .item {
  height: calc(1% * var(--val));
  background-color: var(--clr, var(--item-default-color));
  position: relative;
  animation: item-height 1s ease forwards;
}
@keyframes item-height {
  from {
    height: 0;
  }
}

.simple-bar-chart > .item > * {
  position: absolute;
  text-align: center;
}
.simple-bar-chart > .item > .label {
  inset: 100% 0 auto 0;
  padding-top: 0.5rem;
}
.simple-bar-chart > .item > .value {
  inset: auto 0 100% 0;
}
.tracked-goals {
  flex: 1 1 30%;
  border: 1px rgb(63, 58, 58) solid;
  border-radius: 0.5rem;
  box-shadow: -0.1rem 0.2rem 0.1rem rgba(0, 0, 0, 0.397);
  height: fit-content;
}
.tracked-goals > div {
  margin-block: 1rem;
  border: 1px rgba(63, 60, 60, 0.493) solid;
  margin-inline: 1rem;
  border-radius: 0.2rem 1rem 1rem 0.2rem;
  box-shadow: -0.1rem 0.2rem 0.1rem rgba(0, 0, 0, 0.397);
  background-color: rgba(119, 170, 134, 0.082);
  font-size: var(--font-size-header-5);
}
[id^="tracked"] p {
  padding: 1rem;
}
#tracked-1 div {
  background-color: rgba(251, 255, 0, 0.795);
  border-radius: 0.2rem 1rem 1rem 0.2rem;
  width: 60%;
}
#tracked-2 div {
  background-color: rgba(172, 255, 47, 0.795);
  border-radius: 0.2rem 1rem 1rem 0.2rem;
  width: 40%;
}
#tracked-3 div {
  background-color: rgba(212, 22, 16, 0.479);
  border-radius: 0.2rem 1rem 1rem 0.2rem;
  width: 90%;
}
#tracked-4 div {
  background-color: rgba(47, 120, 255, 0.479);
  border-radius: 0.2rem 1rem 1rem 0.2rem;
  width: 30%;
}
#tracked-5 div {
  background-color: rgba(255, 47, 144, 0.493);
  border-radius: 0.2rem 1rem 1rem 0.2rem;
  width: 70%;
}

.sidebar-header {
  display: none;
}

@media (width < 784px) {
  .main-grid {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, 1fr) auto 150px auto auto;

    grid-template-areas:
      "welcome"
      "today"
      "status"
      "favorites"
      "data";

    padding-top: 1rem;
  }
  .status-column img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main-grid";
  }
  .header-content {
    grid-template-columns: 2.5fr 1fr;
  }
  .header-left img {
    display: block;
  }
  .sidebar {
    display: none;
    z-index: 2;
    height: 100vh;
    position: fixed;
    width: 200px;
    background-color: white;
  }
  .sidebar-header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  #close-sidebar {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .logo {
    display: none;
  }
  .active {
    display: flex;
  }

  .data-content {
    flex-direction: column;
  }
  .data-img {
    padding-bottom: 1rem;
    height: 300px;
  }
  .simple-bar-chart {
    height: inherit;
  }
}
@media (width <560px) {
  .welcome-create {
    flex-direction: column;
    text-align: center;
  }
  .welcome-create h2{
    padding: 0;
  }
}
@media (width < 400px) {
  .data-img {
    padding: 0.5rem;
  }
}

/* Add logo and card buttons */
